body {
    overflow: visible;
}

.search-box {
    /* position: relative; */
    width: 800px;
    height: 50px;
    margin: auto;
}

#input {
    padding: 10px;
    font-size: 28px;
    border: 3px solid #1d1d1d;
    width: 780px;
    height: 28px;
    background: rgba(10, 10, 10, 0.5);
    color: white;
    transition: 0.5s;
    outline: none;
}

#input:focus {
    border: 3px solid dodgerblue;
}

#button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #1d1d1d;
    color: white;
    font-size: 28px;
    border: 1px solid #1d1d1d;
    border-left: none;
    cursor: pointer;
}

table {
    border-collapse: separate;
    border-spacing: 0 3px;
    width: 1200px;
    font-size: 20px;
    margin: auto;
}

th {
    color: white;
    background-color: dodgerblue;
    height: 36px;
    text-align: center;
}

td {
    color: white;
    height: 40px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #2d2d2d;
}

tr:nth-child(odd) {
    background-color: #1d1d1d;
}

td:nth-child(1) {
    padding-left: 10px;
    text-align: left;
}

@media all and (max-width: 1920px) {
    body {
        background-position: 0px var(--background-image-top);
    }
}