:root {
    --background-image-top: 0px;
}

@font-face {
    font-family: "Helvetica-Neue-Light";
    src: url(fonts/helveticaneue/HelveticaNeueLight.ttf);
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(fonts/Roboto-Light.ttf);
}

body {
    margin: 0px;
    background-color: black;
    background-image: url('shadowbg.png');
    background-repeat: no-repeat;
    background-position: center var(--background-image-top);
    font-family: "Roboto-Thin";
}

#time-stamp {
    position: absolute;
    color: white;
    font-family: "Roboto-Thin";
    font-size: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

#under-line {
    position: absolute;
    top: 40px;
}

#center-top {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#raon-box {
    position: absolute;
    left: 10px;
    top: 20px;
}

#accelerator-control {
    position: absolute;
    color: white;
    width: 150px;
    left: 150px;
    top: 40px;
    font-family: "Helvetica-Neue-Light";
}

#menu {
    display: flex;
    position: absolute;
    width: 700px;
    height: 80px;
    left: 1200px;
    justify-content: space-evenly;
    color: white;
    font-size: 18px;
}

#menu a {
    margin: auto;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

#menu a:visited {
    color: white;
}

#menu a:hover {
    transform: scale(1.3);
}

.search-box {
    /* position: relative; */
    width: 800px;
    height: 50px;
    margin: auto;
}

/* .search {
    background-color: darkgoldenrod;
    margin: auto;
    box-sizing: border-box;
} */

#input {
    padding: 10px;
    font-size: 28px;
    border: 3px solid #1d1d1d;
    width: 780px;
    height: 28px;
    background: rgba(10, 10, 10, 0.5);
    color: white;
    transition: 0.5s;
    outline: none;
}

/* Hide spin arrows */
/* Chrome, Safari, Edge, Opera */
#input::-webkit-outer-spin-button,
#input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#input[type=number] {
  -moz-appearance: textfield;
}


#input:focus {
    border: 3px solid dodgerblue;
}

#button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #1d1d1d;
    color: white;
    font-size: 28px;
    border: 1px solid #1d1d1d;
    border-left: none;
    cursor: pointer;
}

.swiper-container {
    margin-top: 100px;
    width: 100%;
    height: auto;
    /* background-color: brown; */
}

.asset-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    /* background-color: rgba(0, 0, 0, 0.0); */
    /* background-color: fuchsia; */
    /* padding: 14px; */
    /* overflow: hidden; */
}

.asset-container {
    position: absolute;
    width: 100%;
    height: 100%;
    /* padding: 20px; */
    background-color: rgba(0, 0, 0, 0.6);
    /* background-color: fuchsia; */
}

.asset-number {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    font-size: 40px;
    /* border-radius: 0px 0px 10px 10px; */
}

.asset-date {
    position: absolute;
    left: 10px;
    top: 60px;
    color: #CCCCCC;
    font-size: 24px;
}

.asset-manager {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #FFF;
    font-size: 48px;
    opacity: 0.2;
}

.asset-name {
    position: absolute;
    left: 10px;
    bottom: 50px;
    color: #CCCCCC;
    font-size: 24px;
}

.asset-location {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #CCCCCC;
    font-size: 24px;
}

@media all and (max-width: 1920px) {
    body {
        background-position: 0px var(--background-image-top);
    }
}

/* 
position: relative;
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: #2196f3;
overflow: hidden; */