#body-container {
    width: 1920px;
    height: 900px;
    display: flex;
    margin: auto;
    justify-content: center;
}

#polygon-contain {
    width: 1920px;
    height: 780px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
}

.leftPolygon {
    opacity: 0.0;
    position: absolute;
}

.rightPolygon {
    opacity: 0.0;
    position: absolute;
}

.startAni {
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-delay: calc(1.5s * var(--delay));
    animation-fill-mode: forwards;
}

.container {
    position: absolute;
    width: 800px;
    height: 800px;
}

.out-container {
    position: absolute;
    width: 800px;
    height: 800px;
    left: -100px;
}

#nuclear {
    opacity: 0;
    animation: showUp 3s linear 1s forwards;
}

#over {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 350px;
    top: 350px;
}

/* #circle1 {
    animation-name: scaleUp;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
} */

#circle2 {
    /* opacity: 0; */
    animation: rotationAni2 var(--duration) linear infinite;
    --degree: 360deg;
    /* animation-direction: alternate; */
}

#circle2-container {
    animation: circle2-showup 2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#circle3 {
    transform: scale(0);
    animation: circle-scaleUp 2s cubic-bezier(0.075, 0.82, 0.2, 1) 1s forwards;
}

.circle4 {
    transform: scale(0);
    animation: circle-scaleUp 2s cubic-bezier(0.075, 0.82, 0.2, 1) 1.5s forwards;
}

#circle4-1 {
    --degree: -360deg;
    animation: circle-rotation 60s linear infinite;
}

#circle4-2 {
    --degree: 360deg;
    animation: circle-rotation 60s linear infinite;
}

#circle4-3 {
    --degree: 360deg;
    animation: circle-rotation 80s linear infinite;
}

#circle5 {
    transform: scale(0);
    animation: circle-scaleUp 1s cubic-bezier(0.075, 0.82, 0.2, 1) 2s forwards;
}

.circle5 {
    --degree: -360deg;
    animation: circle-rotation 60s linear infinite;
}

.circle6 {
    opacity: 0;
    animation: showUp 1s linear var(--delay) 3s forwards;
}

.circle8 {
    transform: scale(0);
    animation: circle-scaleUp 1s cubic-bezier(0.075, 0.82, 0.2, 1) 2.5s forwards;
}

#circle8-1 {
    --degree: -360deg;
    animation: circle-rotation 60s linear infinite;
}

#circle8-2 {
    --degree: 360deg;
    animation: circle-rotation 60s linear infinite;
}

#circle8-3 {
    --degree: 360deg;
    animation: circle-rotation 80s linear infinite;
}

#out1, #out2, #out3, #out4 {
    opacity: 0;
    animation: out-showup 1s cubic-bezier(0.165, 0.84, 0.44, 1) 3s forwards;
}

.menu-text {
    font-size: 18px;
    fill: #f1f2f2;
}

#selection {
    opacity: 0;
    animation: topDownShowup 0.5s linear 3s forwards;
}

#wheel, #menu {
    --degree: 360deg;
}

.wheel-odd {
    opacity: 0;
    fill: #07536e;
    stroke: #231f20;
    stroke-miterlimit: 10;
    animation: showUp 0.5s linear calc(2s + var(--delay)) forwards;
}

.wheel-even {
    opacity: 0;
    fill: #0F495A;
    stroke: #231f20;
    stroke-miterlimit: 10;
    animation: showUp 0.5s linear calc(2s + var(--delay)) forwards;
}

.roulette {
    animation: rotationAni2 3s cubic-bezier(0.075, 0.82, 0.2, 1) forwards;
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes rotationAni {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotationAni2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(var(--degree));
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(var(--scale));
    }
    to {
        opacity: var(--opacity);
        transform: scale(1.0);
    }
}

@keyframes showUp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1.0;
    }
}

@keyframes topDownShowup {
    from {
        top: -10px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

@keyframes circle-scaleUp {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes circle-scaleDown {
    from {
        transform: scale(2);
    }
    to {
        transform: scale(1);
    }
}

@keyframes circle-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(var(--degree));
    }
}

@keyframes circle2-showup {
    from {
        opacity: 0;
        transform: scale(1.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes out-showup {
    from {
        opacity: 0;
        transform: scale(1.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media all and (max-width: 1920px) {
    body {
        background-position: 0px var(--background-image-top);
    }
}