body {
    overflow: visible;
}

#page-title {
    font-size: 36px;
    color: white;
    text-align: center;
}

#page-abstract {
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    font-size: 21px;
    color: #B3B3B3;
    text-align: center;
}

#classification {
    width: 800px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.checkbox-container {
    display: block;
    position: relative;
    width: 100px;
    height: 30px;
    padding-left: 24px;
    /* margin-bottom: 10px; */
    font-size: 18px;
    /* background-color: rebeccapurple; */
    color: white
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 14px;
    width: 14px;
    /* background-color: #eee; */
    border: 1px solid #2196F3;

}

.checkbox-container input:checked~.checkmark {
    background-color: #2196F3;
}

@media all and (max-width: 1920px) {
    body {
        background-position: 0px var(--background-image-top);
    }
}