:root {
    --background-image-top: 0px;
  }
  
@font-face {
    font-family: "Helvetica-Neue-Light";
    src: url(fonts/helveticaneue/HelveticaNeueLight.ttf);
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(fonts/Roboto-Light.ttf);
}

body {
    /* overflow: hidden; */
    margin: 0px;
    /* width: 1920px;
    height: 1080px; */
    background-color: black;
    background-image: url('shadowbg.png');
    background-repeat: no-repeat;
    background-position: center var(--background-image-top);
}

#time-stamp {
    position: absolute;
    color: white;
    font-family: "Roboto-Thin";
    font-size: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.under-line-box {
    position: absolute;
    top: 34px;
}

.center-top-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.raon-box {
    position: absolute;
    left: 10px;
    top: 20px;
}

.accelerator-control {
    position: absolute;
    color: white;
    width: 150px;
    left: 150px;
    top: 40px;
    font-family: "Helvetica-Neue-Light";
}

.status-box {
    /* background-color: black; */
    width: 300px;
    height: 50px;
    color: white;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: 60px;
    font-family: "Roboto-Thin";
}

#polygon-contain{ 
    width:1920px; 
    height:780px; 
    position: absolute; 
    left:50%; 
    margin-left:-960px;
}

.leftPolygon {
    opacity: 0.0;
    position: absolute;
}

.rightPolygon {
    opacity: 0.0;
    position: absolute;
}

.startAni {
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-delay: calc(1s + 2s * var(--delay));
    animation-fill-mode: forwards;
}

.moduleNaviShowUp {
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-delay: calc(0.1s * var(--delay));
    animation-fill-mode: forwards;
}

.title {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: monospace;
}

.data-name {
    color: white;
    font-size: 28px;
    /* text-align: center; */
    font-family: "Roboto-Thin";
}

.data-value {
    color: white;
    font-size: 50px;
    /* text-align: center; */
    font-family: "Roboto-Thin";
}

.pvname {
    color: dimgray;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.body-left-grid {
    width: 620px;
    height: 740px;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 160px 160px 160px 160px;
    gap: 20px;
    padding: 20px;
}

.body-right-grid {
    width: 620px;
    height: 740px;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 160px 160px 160px 160px;
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: rgba(26, 26, 26, 0.3);
    border: 1px solid rgba(50, 50, 50, 0.3);
    /* animation-name: scaleUp;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards; */
}

#module {
    position: absolute;
    left: 165px;
    top: 50px;
}

#moduleNum {
    width:600px;
    position: absolute;
    top: 750px;
    color: white;
    font-size: 28px;
    text-align: center;
    font-family: "Roboto-Thin";
}

#moduleNum::before {
    content: 'QWR ';
}

.box {
    width: 100px;
    height: 100px;
    border: 2px solid rgba(0, 84, 188, 0.3);
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
    text-align: center;
    color: #ddd;
    position: relative;
    left: 25px;
    top: 15px;
    overflow: hidden;
    font-family: "Roboto-Thin";
}

.box::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: var(--b);
    left: 50%;
    transform: translateX(-30%);
    border-radius: 40%;
    z-index: -1;
    animation: fill 7s ease-out forwards, rotation 7s linear infinite;
}

.level-bar {
    position: relative; 
    left: 30px; 
    top:15px; 
    width:36px; 
    height:130px;
    background-color: rgba(0, 64, 96, 0.5);
    border: 2px solid rgba(0, 84, 188, 0.5);
}

.level {
    position: relative;
    left: 2px;
    top: var(--i);
    width:32px; 
    height:14px;
}

.fadeInOpacity {
    animation-name: showUp;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.lightning {
    position: relative;
    left: 20px;
    top: 30px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(var(--scale));
    }

    to {
        opacity: var(--opacity);
        transform: scale(1.0);
    }
}

@keyframes scaleUp {
    from {

        transform: scale(0);
    }

    to {

        transform: scale(1.0);
    }
}

@keyframes fill {
    from {
        top: 110px;
    }
    to {
        top: 50px;
    }
}

@keyframes rotation {
    from {
        transform: translateX(-50%) rotate(0deg);
    }
    to {
        transform: translateX(-50%) rotate(360deg);
    }
}

@keyframes showUp {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}

@media all and (max-width: 1920px) {
    body {
        background-position: 0px var(--background-image-top);
    }

    #polygon-contain{
        margin-left: 0px;
        left: 0px;
    }
}
