@font-face {
    font-family: "Helvetica-Neue-Light";
    src: url(fonts/helveticaneue/HelveticaNeueLight.ttf);
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(fonts/Roboto-Light.ttf);
}

body {
    /* overflow: hidden; */
    margin: 0px;
    /* width: 1920px;
    height: 1080px; */
    background-color: black;
    background-image: url('shadowbg.png');
    background-repeat: no-repeat;
    background-position: center 100px;
}

#time-stamp {
    position: absolute;
    color: white;
    font-family: "Roboto-Thin";
    font-size: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.under-line-box {
    position: absolute;
    top: 34px;
}

.center-top-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.raon-box {
    position: absolute;
    left: 10px;
    top: 20px;
}

.accelerator-control {
    position: absolute;
    color: white;
    width: 150px;
    left: 150px;
    top: 40px;
    font-family: "Helvetica-Neue-Light";
}

.status-box {
    /* background-color: black; */
    width: 300px;
    height: 50px;
    color: white;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: 60px;
    font-family: "Roboto-Thin";
}

.leftPolygon {
    opacity: 0.0;
    position: absolute;
}

.rightPolygon {
    opacity: 0.0;
    position: absolute;
}

.startAni {
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-delay: calc(1s + 2s * var(--delay));
    animation-fill-mode: forwards;
}

.title {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: monospace;
}

.data {
    color: white;
    font-size: 20px;
    /* text-align: center; */
    font-family: Arial, Helvetica, sans-serif;
}

.pvname {
    color: dimgray;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.body-left-grid {
    width: 620px;
    height: 740px;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 160px 160px 160px 160px;
    gap: 20px;
    padding: 20px;
}

.body-right-grid {
    width: 620px;
    height: 740px;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 160px 160px 160px 160px;
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: rgba(26, 26, 26, 0.3);
    border: 1px solid rgba(50, 50, 50, 0.3);
    animation-name: scaleUp;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#module {
    position: absolute;
    left: 165px;
    top: 50px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: var(--opacity);
        transform: scale(1.0);
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1.0);
    }
}