:root {
    --background-image-top: 0px;
  }

  @font-face {
    font-family: "Helvetica-Neue-Light";
    src: url(fonts/helveticaneue/HelveticaNeueLight.ttf);
  }

  @font-face {
    font-family: "Roboto-Thin";
    src: url(fonts/Roboto-Thin.ttf);
  }

  @font-face {
    font-family: "Roboto-Light";
    src: url(fonts/Roboto-Light.ttf);
  }

  body {
    margin: 0px;
    background-color: black;
    background-image: url('shadowbg.png');
    background-repeat: no-repeat;
    background-position: center var(--background-image-top);
    font-family: "Helvetica-Neue-Light";
  }

  #time-stamp {
    position: absolute;
    color: white;
    font-family: "Roboto-Thin";
    font-size: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
  }

  .under-line-box {
    position: absolute;
    top: 34px;
  }

  .center-top-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .raon-box {
    position: absolute;
    left: 10px;
    top: 20px;
  }

  .accelerator-control {
    position: absolute;
    color: white;
    width: 150px;
    left: 150px;
    top: 40px;
    font-family: "Helvetica-Neue-Light";
  }

  #title {
    width:1920px; 
    height:40px; 
    margin:auto;
    text-align: center; 
    font-size: 36px;
    color: white

  }

  .card {
    /* box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2); */
    width: 250px;
    height: 400px;
    margin: auto;
    text-align: center;
    background-color: rgba(26,26,26,0.5);
  }

  .avatar {

    width: 150px;
    height: 150px;
    margin-top: 40px;
  }

  .name {
    margin-top: 10px;
    font-size: 24px;
    color: white;
  }

  .charge {
    margin-top: 15px;
    color: #CCCCCC;
    font-size: 16px;
  }

  .task {
    margin-top: 5px;
    color: #808080;
    font-size: 12px;
  }

  .email, .phone, .location{
      margin-top: 10px;
      color: white;
      font-size: 10px;
  }