.body-box {
    width: 1920px;
    height: 980px;
    margin: auto;
}

.slide-button {
    width: 50px;
    height: 980px;
    font-size: 32px;
    margin: 0px;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    float: left;
}

.slide-box {
    width: 1820px;
    height: 980px;
    float: left;
}

.slide-page {
    width: 1820px;
    height: 980px;
}

.slide-page-title {
    width: 1820px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 280px);
    grid-template-rows: repeat(3, 280px);
    gap: 20px 20px;
    width: 1800px;
    height: 930px;
    /* background-color: wheat; */
}

.grid-item {
    position: relative;
    margin: 10px;
    background-color: rgba(50, 50, 50, 0.3);
    z-index: -2;
}

.grid-1x1 {
    width: 280px;
    height: 280px;
}

.grid-2x1 {
    width: 580px;
    height: 280px;
}

.grid-2x2 {
    width: 580px;
    height: 580px;
}

.grid-3x2 {
    width: 880px;
    height: 580px;
}

.grid-3x3 {
    width: 880px;
    height: 880px;
}

.grid-4x2 {
    width: 1180px;
    height: 580px;
}

.w3-animate-left {
    position: relative;
    animation: animateleft 0.4s
}

#n2-value::after, #he-value::after {
    content: " %";
}

.w3-animate-right {
    position: relative;
    animation: animateright 0.4s
}

.title {
    color: white;
    font-size: 30px;
    text-align: center;
    /* font-family: Roboto-Thin; */
    line-height: 0.0;
    /* background-color: tomato; */
}

.data {
    position: relative;
    top: 30px;
    color: white;
    font-size: 40px;
    text-align: center;
    /* font-family: Roboto-Thin; */
    /* background-color: darkcyan; */
}

.sub-data {
    position: relative;
    top: 30px;
    color: white;
    font-size: 28px;
    text-align: center;
    /* font-family: Roboto-Thin; */
    /* background-color: darkgoldenrod; */
}

.sub-title {
    position: absolute;
    width: 100%;
    bottom: 10px;
    color: #999999;
    font-size: 25px;
    text-align: center;
}

.exp-value {
    font-size: 28px;
    position: relative;
    top: -10px;
    left: 10px;
}

.exp-value::after {
    content: "  mbar";
    position: relative;
    top: 30px;
    left: 10px;
}

.pvname {
    color: dimgray;
    font-size: 15px;
    text-align: center;
    font-family: Roboto-Thin;
}

.doughnut-contain {
    position: relative;
    width: 174px;
    height: 174px;
    transform: rotate(-90deg);
    margin: auto;
}

.doughnutBackground {
    stroke-dashoffset: 0;
    stroke: rgba(0, 84, 188, 0.3);
    transform: translate(7px, 7px);
    stroke-width: 14;
}

/* .doughnutForeground {
    animation-name: percentage;
    animation-duration: 0.5s;

} */

.doughnutChartText {
    position: absolute;
    width: 100%;
    top: 120px;
    color: white;
    font-size: 30px;
    text-align: center;
}

.doughnutChartTextUnder {
    position: absolute;
    width: 100%;
    top: 155px;
    color: gray;
    font-size: 18px;
    text-align: center;
}

#storage-chart, #archive-chart, #ioc-chart {
    stroke: var(--doughuntColor);
    stroke-width: 14;
    stroke-linecap: round;
    stroke-dasharray: 503;
    stroke-dashoffset: 503;
    transform: translate(7px, 7px);
    /* animation-timing-function: ease-out; */
    /* animation-fill-mode: forwards; */
}

.liquid-box {
    width: 160px;
    height: 160px;
    border: 2px solid rgba(0, 84, 188, 0.3);
    border-radius: 50%;
    line-height: 160px;
    text-align: center;
    font-size: 40px;
    left: 52px;
    color: #ddd;
    position: relative;
    overflow: hidden;
}

.subBox {
    position: absolute;
    width: 260px;
    height: 260px;
    top: 160px;
    left: -62px;
    /* transform: translateY(0px); */
    background-color: var(--backgroundColor);
    border-radius: 40%;
    z-index: -1;
}

#fps-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 20px);
    grid-template-rows: repeat(7, 20px);
    gap: 5px 5px;
    width: 170px;
    height: 170px;
    /* background-color: wheat; */
}

.fps-node {
    /* background-color: #00A651; */
    background-color: rgb(0, 64, 96);
    width: 100%;
    height: 100%;
    animation: scaleUp 0.5s linear var(--delay) forwards;
    transform: scale(0);
}

.cpu-status, .memory-status, .disk-status, .network-status {
    margin: auto;
    width: 40px;
    height: 152px;
}

.level-bar {
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 10px;
    background-color: #004060;
}

.server-value {
    margin-bottom: 5px;
    color: white;
    font-size: 12px;
    text-align: center;
}

.server-title {
    margin-top: 5px;
    color: white;
    font-size: 10px;
    text-align: center;
}

.timing-container {
    position: relative;
    margin: auto;
    width: 200px;
    height: 200px;
}

.timing {
    animation: timing 0.5s ease-out forwards;
    stroke-width: 2px;
    stroke-dasharray: 302;
}

.tooltiptext {
    visibility: hidden;
    width: 280px;
    /* background-color: red; */
    color: white;
    text-align: center;
    border-radius: 3px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    top: -12px;
    left: 0px;
    /* margin-left: 40px; */
    opacity: 0;
    transition: opacity 1s;
    font-size: 15px;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.title:hover .tooltiptext {
    visibility: visible;
    opacity: 1.0;
}

.fade-animation {
    animation: animatefade 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.compressor-container {
    position: absolute;
    width: 160px;
    height: 160px;
    left: 60px;
    top: 60px;
}

#compressor-circle3 {
    position: absolute;
    left: 18px;
    top: 18px;
    width: 120px;
    height: 120px;
    border: 2px solid #22B573;
    border-radius: 60px;
    transition: all 1s;
}

.data-value {
    position: absolute;
    width: 100%;
    top: 115px;
    font-size: 40px;
    text-align: center;
    color: white;
}

#alarm-grid {
    margin: auto;
    display: grid;
    width: 160px;
    height: 160px;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    gap: 4px 4px;
    /* background-color: #00ace6; */
}

.alarm-item {
    width: 50px;
    height: 50px;
    background-color: #22B573;
    background-color: rgb(0, 64, 96);
    border-radius: 3px;
}

#gas-out {
    position: absolute;
    width: 180px;
    height: 110px;
    left: 50px;
    top: 85px;
    border-radius: 55px;
    border: rgba(0, 84, 188, 0.3) solid 2px;
}

#gas-in {
    position: absolute;
    width: 180px;
    height: 110px;
    left: 52px;
    top: 87px;
    background-color: #29ABE2;
    border-radius: 55px;
    transition: all 2s;
}

.temperature-item1, .temperature-item2 {
    transition: opacity 0.5s;
    transition-delay: var(--delay);
}

.pressure-contain {
    position: absolute;
    left: 53px;
    top: 73px;
    width: 174px;
    height: 174px;
    transform: rotate(-210deg);
    margin: auto;
}

.pressure-bg {
    stroke-dasharray: 336 168;
    stroke: rgba(0, 84, 188, 0.3);
    transform: translate(7px, 7px);
    stroke-width: 14;
    stroke-linecap: round;
}

.pressure-fg {
    stroke: var(--color);
    stroke-width: 14;
    stroke-linecap: round;
    stroke-dasharray: 336 500;
    stroke-dashoffset: 336;
    transform: translate(7px, 7px);
}

#seq-list {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 130px;
    justify-content: space-around;
}

.seq-contain {
    width: 180px;
    height: 230px;
}

.seq-title {
    width: 100%;
    color: white;
    font-size: 24px;
    text-align: center;
}

.seq-outline {
    margin: auto;
    margin-top: 5px;
    width: 160px;
    height: 160px;
    border: rgba(0, 84, 188, 0.3) solid 2px;
    border-radius: 26px;
    transition: all 1s;
    overflow: hidden;
}

.subseq-title {
    margin-top: 10px;
    width: 100%;
    color: #b9b9b9;
    font-size: 18px;
    text-align: center;
}

.subseq-contain {
    width: 126px;
    height: 92px;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 24px 24px 24px 24px;
    grid-template-rows: 24px 24px 24px;
    gap: 10px;
    /* background-color: blanchedalmond; */
}

.subseq-item {
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 84, 188, 0.3);
    border-radius: 12px;
    /* background-color: transparent; */
    transition: all 1s;
}

.seq-subtitle {
    width: 100%;
    margin-top: 5px;
    color: #B3B3B3;
    font-size: 18px;
    text-align: center;
}

.animate-opacity {
    animation: animatefade 1s linear infinite alternate-reverse;
}

.page3 {
    display: flex;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}

@keyframes animatefade {
    from {
        opacity: 0;
        /* bottom: -10px; */
        /* transform: scale3d(1.1, 1.1, 1); */
    }
    to {
        opacity: 1;
        /* bottom: 0px; */
        /* transform: scale3d(1, 1, 1); */
    }
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}

/* @keyframes percentage {
    from {
        stroke-dashoffset: 503;
    }
    to {
        stroke-dashoffset: var(--chartValue);
    }
} */

@keyframes timing {
    from {
        stroke-dashoffset: 302;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@media all and (max-width: 1920px) {
    body {
        background-position: 0px var(--background-image-top);
    }
}

#scl32-primary-uplink::after, #scl4-primary-uplink:after {
    content: ' Gb/s';
    font-size: 36px;
}

#scl32-secondary-uplink::after, #scl4-secondary-uplink::after {
    content: ' Gb/s';
    font-size: 24px;
}