.body-box {
    width: 1920px;
    height: 980px;
    margin: auto;
}

.slide-button {
    width: 50px;
    height: 980px;
    font-size: 32px;
    margin: 0px;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    float: left;
}

.slide-box {
    width: 1820px;
    height: 980px;
    float: left;
}

.slide-page {
    width: 1820px;
    height: 980px;
}

.slide-page-title {
    width: 1820px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 280px);
    grid-template-rows: repeat(3, 280px);
    gap: 20px 20px;
    width: 1800px;
    height: 930px;
    /* background-color: wheat; */
}

.grid-item {
    position: relative;
    margin: 10px;
    background-color: rgba(26, 26, 26, 0.5);
}

.grid-1x1 {
    width: 280px;
    height: 280px;
}

.grid-2x1 {
    width: 580px;
    height: 280px;
}

.grid-2x2 {
    width: 580px;
    height: 580px;
}

.grid-3x2 {
    width: 880px;
    height: 580px;
}

.grid-3x3 {
    width: 880px;
    height: 880px;
}

.w3-animate-left {
    position: relative;
    animation: animateleft 0.4s
}

#n2-value::after, #he-value::after {
    content: " %";
}

.w3-animate-right {
    position: relative;
    animation: animateright 0.4s
}

.title {
    color: white;
    font-size: 30px;
    text-align: center;
    /* font-family: Roboto-Thin; */
    line-height: 0.0;
    /* background-color: tomato; */
}

.data {
    position: relative;
    top: 30px;
    color: white;
    font-size: 40px;
    text-align: center;
    /* font-family: Roboto-Thin; */
    /* background-color: darkcyan; */
}

.sub-data {
    position: relative;
    top: 30px;
    color: white;
    font-size: 28px;
    text-align: center;
    /* font-family: Roboto-Thin; */
    /* background-color: darkgoldenrod; */
}

.sub-title {
    position: absolute;
    width: 100%;
    bottom: 10px;
    color: #999999;
    font-size: 25px;
    text-align: center;
}

.exp-value {
    font-size: 28px;
    position: relative;
    top: -10px;
    left: 10px;
}

.exp-value::after {
    content: "  mbar";
    position: relative;
    top: 30px;
    left: 10px;
}

.pvname {
    color: dimgray;
    font-size: 15px;
    text-align: center;
    font-family: Roboto-Thin;
}

.doughnut-contain {
    position: relative;
    width: 174px;
    height: 174px;
    transform: rotate(-90deg);
    margin: auto;
}

.doughnutBackground {
    stroke-dashoffset: 0;
    stroke: rgba(0, 84, 188, 0.3);
    transform: translate(7px, 7px);
    stroke-width: 14;
}

.doughnutForeground {
    animation-name: percentage;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    /* --i: 200; */
    stroke: var(--doughuntColor);
    stroke-width: 14;
    stroke-linecap: round;
    stroke-dasharray: 503;
    transform: translate(7px, 7px);
}

.doughnutChartText {
    position: absolute;
    width: 100%;
    top: 120px;
    color: white;
    font-size: 30px;
    text-align: center;
    
}

.doughnutChartTextUnder {
    position: absolute;
    width: 100%;
    top: 155px;
    color: gray;
    font-size: 18px;
    text-align: center;
}

.liquid-box {
    width: 176px;
    height: 176px;
    border: 2px solid rgba(0, 84, 188, 0.5);
    border-radius: 50%;
    line-height: 180px;
    text-align: center;
    font-size: 40px;
    left: 52px;
    color: #ddd;
    position: relative;
    overflow: hidden;
}

.subBox {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 176px;
    left: -62px;
    /* transform: translateY(0px); */
    background: var(--b);
    border-radius: 40%;
    z-index: -1;
}

#fps-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 20px);
    grid-template-rows: repeat(7, 20px);
    gap: 5px 5px;
    width: 170px;
    height: 170px;
    /* background-color: wheat; */
}

.fps-node {
    /* background-color: #00A651; */
    background-color: rgb(0, 64, 96);
    width: 100%;
    height: 100%;
    animation: scaleUp 0.5s linear var(--delay) forwards;
    transform: scale(0);
}

.cpu-status, .memory-status, .disk-status, .network-status {
    margin: auto;
    width: 40px;
    height: 152px;
}

.level-bar {
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 10px;
    background-color: #004060;
}

.server-value {
    margin-bottom: 5px;
    color: white;
    font-size: 12px;
    text-align: center;
}

.server-title {
    margin-top: 5px;
    color: white;
    font-size: 10px;
    text-align: center;
}

.timing-container {
    position: relative;
    margin: auto;
    width: 200px;
    height: 200px;
}

.timing {
    animation: timing 0.5s ease-out forwards;
    stroke-width: 2px;
    stroke-dasharray: 302;
}

.tooltiptext {
    visibility: hidden;
    width: 280px;
    /* background-color: red; */
    color: white;
    text-align: center;
    border-radius: 3px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    top: -12px;
    left: 0px;
    /* margin-left: 40px; */
    opacity: 0;
    transition: opacity 1s;
    font-size: 15px;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.title:hover .tooltiptext {
    visibility: visible;
    opacity: 1.0;
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}

@keyframes percentage {
    from {
        stroke-dashoffset: 503;
    }
    to {
        stroke-dashoffset: var(--chartValue);
    }
}

@keyframes timing {
    from {
        stroke-dashoffset: 302;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@media all and (max-width: 1920px) {
    body {
        background-position: 0px var(--background-image-top);
    }
}

#scl32-primary-uplink::after, #scl4-primary-uplink:after {
    content: ' Gb/s';
    font-size: 36px;
}

#scl32-secondary-uplink::after, #scl4-secondary-uplink::after {
    content: ' Gb/s';
    font-size: 24px;
}