:root {
    --background-image-top: 0px;
}

@font-face {
    font-family: "Helvetica-Neue-Light";
    src: url(fonts/helveticaneue/HelveticaNeueLight.ttf);
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(fonts/Roboto-Light.ttf);
}

body {
    /* overflow: hidden; */
    margin: 0px;
    background-color: black;
    background-image: url('shadowbg.png');
    background-repeat: no-repeat;
    background-position: center var(--background-image-top);
}

#time-stamp {
    position: absolute;
    color: white;
    font-family: "Roboto-Thin";
    font-size: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.under-line-box {
    position: absolute;
    top: 34px;
}

.center-top-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.raon-box {
    position: absolute;
    left: 10px;
    top: 20px;
}

.accelerator-control {
    position: absolute;
    color: white;
    width: 150px;
    left: 150px;
    top: 40px;
    font-family: "Helvetica-Neue-Light";
}

.body-box {
    width: 1920px;
    height: 980px;
    margin: auto;
}

.slide-button {
    width: 50px;
    height: 980px;
    font-size: 32px;
    margin: 0px;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    float: left;

}

.slide-box {
    width: 1820px;
    height: 980px;
    float: left;
}


.slide-page {
    width: 1820px;
    height: 980px;
    float: left;
}

.slide-page-title {
    width: 1820px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: "Roboto-Thin";

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 280px);
    grid-template-rows: repeat(3, 280px);
    gap: 20px 20px;
    width: 1800px;
    height: 930px;
    /* background-color: wheat; */
}

.grid-item {
    position: relative;
    margin: 10px;
    background-color: rgba(26, 26, 26, 0.5);
    font-family: "Roboto-Thin";
}

.grid-1x1 {
    width: 280px;
    height: 280px; 
}

.grid-2x1 {
    width: 580px;
    height: 280px; 
}

.grid-2x2 {
    width: 580px;
    height: 580px; 
}

.grid-3x2 {
    width: 880px;
    height: 580px; 
}

.grid-3x3 {
    width: 880px;
    height: 880px; 
}

.w3-animate-left {
    position: relative;
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

.w3-animate-right {
    position: relative;
    animation: animateright 0.4s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}

.container-1x1 {
    margin: 10px;
    width: 280px;
    height: 280px;
    float: left;
    background-color: rgba(26, 26, 26, 0.5);
    font-family: "Roboto-Thin";
    /* position: relative; */

    /* border: 2px solid black; */
}

/* .double-contents-box {
margin: 5px;
width: 614px;
height: 614px;
float: left;
background-color: #1d1d1d;
border: 2px solid black;
} */

.container-2x1 {
    margin: 10px;
    width: 580px;
    height: 280px;
    /* float: left; */
    background-color: rgba(26, 26, 26, 0.5)
        /* border: 2px solid black; */
}

.container-2x2 {
    margin: 10px;
    width: 580px;
    height: 580px;
    background-color: rgba(26, 26, 26, 0.5);
    font-family: "Roboto-Thin";
}

.container-3x3 {
    margin: 10px;
    width: 880px;
    height: 880px;
    background-color: rgba(26, 26, 26, 0.5);
    font-family: "Roboto-Thin";
    /* position: relative; */
}

.title {
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: Roboto-Thin;
}

.data {
    color: white;
    font-size: 60px;
    text-align: center;
    font-family: Roboto-Thin;
}

.exp-value {
    font-size: 28px;
    position: relative;
    top: -10px;
    left: 10px;
}

.exp-value::after {
    content: "  mbar";
    position: relative;
    top: 30px;
    left: 10px;
}

.pvname {
    color: dimgray;
    font-size: 15px;
    text-align: center;
    font-family: Roboto-Thin;
}

.doughnut-contain {
    position: relative;
    width: 174px;
    height: 174px;
    transform: rotate(-90deg);
    margin: auto;
}

.doughnutBackground {
    stroke-dashoffset: 0;
    stroke: rgba(0, 84, 188, 0.3);
    transform: translate(7px, 7px);
    stroke-width: 14;
}

.doughnutForeground {
    animation-name: percentage;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    /* --i: 200; */
    stroke: var(--doughuntColor);
    stroke-width: 14;
    stroke-linecap: round;
    stroke-dasharray: 503;
    transform: translate(7px, 7px);
}

.doughnutChartText {
    display: flex;
    position: absolute;
    width: 174px;
    height: 174px;
    left: 52px;
    color: white;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    font-family: "Roboto-Thin";
}

.liquid-box {
    width: 176px;
    height: 176px;
    border: 2px solid rgba(0, 84, 188, 0.5);
    border-radius: 50%;
    line-height: 180px;
    text-align: center;
    font-size: 40px;
    left: 52px;
    color: #ddd;
    position: relative;
    overflow: hidden;
    font-family: "Roboto-Thin";
}

.subBox {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 176px;
    left: -62px;
    /* transform: translateY(0px); */
    background: var(--b);
    border-radius: 40%;
    z-index: -1;

}

.tooltiptext {
    visibility: hidden;
    width: 280px;
    /* background-color: red; */
    color: white;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    /* margin-left: 40px; */
    font-family: "Roboto-Thin";
    opacity: 0;
    transition: opacity 1s;
    font-size: 15px;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }

  .title:hover .tooltiptext {
    visibility: visible;
    opacity: 1.0;
}

@keyframes percentage {
    from {
        stroke-dashoffset: 503;
    }

    to {
        stroke-dashoffset: var(--chartValue);

    }
}