#body-left {
    float: left;
    width: 750px;
    height: 980px;
    /* background-color: tomato; */
}

#body-center {
    float: left;
    width: 420px;
    height: 980px;
}

#body-right {
    float: left;
    width: 750px;
    height: 980px;
}

.title-box {
    /* display: flex;
    align-items: center; */
    position: relative;
    width: 700px;
    height: 40px;
    left: 25px;
    font-size: 32px;
    color: white;
}

#last-button, #next-button {
    width: 100px;
    height: 70px;
    border: none;
    outline: none;
    color: white;
    background-color: #181818;
}

#year {
    width: 500px;
    height: 70px;
    display: flex;
    font-size: 32px;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: #181818;
}

.week {
    position: relative;
    width: 100px;
    height: 30px;
    left: 25px;
    display: flex;
    text-align: center;
    color: gray;
    background-color: #181818;
    justify-content: center;
    align-items: center;
}

#calendar {
    display: grid;
    position: relative;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(6, 100px);
    width: 700px;
    height: 600px;
    left: 25px;
    overflow: auto;
}

.day {
    background-color: rgba(25, 25, 25, 0.5);
    color: white;
    overflow: visible;
}

.today {
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    /* background-color: dodgerblue; */
}

button {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    outline: none;
    color: white;
    position: relative;
    font-family: "Roboto-Light";
}

#todo-box {
    position: relative;
    left: 25px;
    padding: 15px;
    width: 670px;
    height: 150px;
    color: white;
    font-size: 18px;
    background-color: rgba(25, 25, 25, 0.5);
}

.title-bar {
    display: inline-block;
    position: relative;
    width: 625px;
    height: 5px;
    left: 50px;
    background-color: var(--barColor);
}

.under-bar {
    animation-name: bar-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.schedule-list-box {
    overflow: hidden;
    width: 350px;
    /* height: auto; */
    height: var(--listBoxHeight);
    padding: 10px;
    border-radius: 20px;
    color: white;
    margin: auto;
    font-family: "Roboto-Light";
    margin-top: 50px;
    position: relative;
    animation: animatebottom 1s;
    animation-delay: var(--listBoxDelay);
    bottom: -50px;
    opacity: 0;
    animation-fill-mode: forwards;
    transition: height 0.5s;
}

.schedule-list-box:hover {
    height: var(--listBoxHeightExpand);
}

.schedule-day-begin {
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
}

.schedule-day-end {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.schedule-day-title {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
}

.schedule-day-detail {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 8px;
}

#shift-table {
    position: relative;
    margin-left: 25px;
    /* animation: animatebottom 1s; */
    /* animation-fill-mode: forwards; */
    /* opacity: 0; */
    /* border: 1px solid white; */
}

.shift-avatar {
    width: 60px;
    height: 60px;
}

/* .shift-avatar img {
    width: 60px;
    height: 60px;
} */

.shift-team {
    width: 290px;
    height: 20px;
    /* text-align: left; */
    padding-left: 10px;
    font-size: 14px;
    color: gray;
}

.shift-team svg {
    vertical-align: middle;
}

.shift-user {
    width: 290px;
    height: 40px;
    font-size: 28px;
    padding-left: 10px;
    color: white;
}

.avatar-img {
    /* border: 2px solid white; */
    border-radius: 50%;
}

.row-spacing {
    height: 20px;
}

.desk-img {
    display: inline-block;
    margin-left: 10px;
}

@keyframes bar-animation {
    from {
        width: 0px;
    }
    to {
        width: 625px;
    }
}

@keyframes animatebottom {
    from {
        bottom: -50px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        bottom: 0px;
        opacity: 1
    }
    to {
        bottom: -50px;
        opacity: 0
    }
}

@media all and (max-width: 1920px) {
    body {
        background-position: 0px var(--background-image-top);
    }
}