.contents-box {
    margin: 5px;
    width: 300px;
    height: 300px;
    float: left;
    background-color: #1d1d1d;
    border: 2px solid black;
}

.double-contents-box {
    margin: 5px;
    width: 614px;
    height: 614px;
    float: left;
    background-color: #1d1d1d;
    border: 2px solid black;
}

.wide-box {
    margin: 5px;
    width: 614px;
    height: 300px;
    float: left;
    background-color: #1d1d1d;    
    border: 2px solid black;
}

.widget-box {
    float: left;
    margin-bottom: -4px;
}

.double-widget-box {
    float: left;
    margin-bottom: -4px;
}


.title {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: monospace;
}

.data {
    color: white;
    font-size: 70px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.pvname {
    color: dimgray;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}