#body-left {
    position: relative;
    float: left;
    width: 750px;
    height: 980px;
    /* background-color: tomato; */
}

#body-center {
    float: left;
    width: 420px;
    height: 980px;
    overflow: auto;
}

#body-right {
    position: relative;
    float: left;
    width: 750px;
    height: 980px;
    overflow: auto;
}

.title-box {
    /* display: flex;
    align-items: center; */
    position: relative;
    /* width: 700px; */
    height: 40px;
    left: 25px;
    font-size: 32px;
    color: white;
}

#last-button, #next-button {
    width: 100px;
    height: 70px;
    border: none;
    outline: none;
    color: white;
    background-color: #181818;
}

#year {
    width: 500px;
    height: 70px;
    display: flex;
    font-size: 32px;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: #181818;
}

.week {
    position: relative;
    width: 100px;
    height: 30px;
    left: 25px;
    display: flex;
    text-align: center;
    color: gray;
    background-color: #181818;
    justify-content: center;
    align-items: center;
}

#calendar {
    display: grid;
    position: relative;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(6, 100px);
    width: 700px;
    height: 600px;
    left: 25px;
    overflow: auto;
}

.day {
    background-color: rgba(25, 25, 25, 0.5);
    color: white;
    overflow: visible;
}

.today {
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    /* background-color: dodgerblue; */
}

button {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    outline: none;
    color: white;
    position: relative;
    font-family: "Roboto-Light";
}

#compare-chart-container {
    position: relative;
    left: 25px;
    width: 700px;
    height: 200px;
    background-color: rgba(25, 25, 25, 0.5);
}

.title-bar {
    display: inline-block;
    position: relative;
    width: 625px;
    height: 5px;
    left: 50px;
    background-color: var(--barColor);
}

.under-bar {
    animation-name: bar-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


#event-button-container {
    visibility: hidden;
    position: absolute;
    right: 25px;
    top: 3px;
    display: flex;
    width: 500px;
    height: 30px;
    justify-content: flex-end;
    align-items:flex-end;
}

.event-config-button {
    width: 80px;
    height: 30px;
    margin-left: 10px;
    border: 2px solid #9B59B6;
    border-radius: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
    transition-duration: 0.4s;
    font-family: "Roboto-Thin";
}

.event-config-button:hover {
    background-color: #9B59B6;
}

.schedule-list-box {
    overflow: hidden;
    width: 350px;
    /* height: auto; */
    height: var(--listBoxHeight);
    padding: 10px;
    border-radius: 20px;
    color: white;
    margin: auto;
    font-family: "Roboto-Light";
    margin-top: 50px;
    position: relative;
    animation: animatebottom 1s;
    animation-delay: var(--listBoxDelay);
    bottom: -50px;
    opacity: 0;
    animation-fill-mode: forwards;
    transition: height 0.5s;
}

.schedule-list-box:hover {
    height: var(--listBoxHeightExpand);
}

.schedule-day-begin {
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
}

.schedule-day-end {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.schedule-day-title {
    display: inline-block;
    width: 220px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.schedule-day-detail {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 8px;
}

.snapshot-new-button {
    position: absolute;
    height: 30px;
    width: 30px;
    line-height: 28px;
    right: 10px;
    top: 5px;
    font-size: 40px;
    text-align: center;
    color: white;
}

.snapshot-list-table tr {
    height: 20px;
}

.snapshot-list-table td:nth-child(1) {
    width: 40px;
}

#record-table-button {
    visibility: hidden;
    position: absolute;
    right: 0px;
    top: 3px;
    display: flex;
    width: 500px;
    height: 30px;
    justify-content: space-evenly;
}

.record-config-button {
    width: 80px;
    height: 30px;
    border: 2px solid #004060;
    border-radius: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
    transition-duration: 0.4s;
    font-family: "Roboto-Thin";
}

.record-config-button:hover {
    background-color: #004060;
}

#record-table, #compare-table {
    border-collapse: separate;
    border-spacing: 0 3px;
    width: 700px;
    font-size: 18px;
    margin: auto;
    margin-top: 10px;
}

#record-table th, #compare-table th {
    color: white;
    background-color: #009FCA;
    height: 28px;
    text-align: center;
}

#record-table td, #compare-table td {
    color: white;
    height: 30px;
    text-align: center;
}

#record-table tr:nth-child(even), #compare-table tr:nth-child(even) {
    background-color: #2d2d2d;
}

#record-table tr:nth-child(odd), #compare-table tr:nth-child(odd) {
    background-color: #1d1d1d;
}

#record-table td:nth-child(1), #compare-table td:nth-child(1) {
    padding-left: 10px;
    text-align: left;
}

#sanpshot-compare-table th {
    color: white;
    background-color: #009FCA;
    height: 28px;
    text-align: center;
}

#snapshot-compare-table {
    border-collapse: separate;
    border-spacing: 0 3px;
    width: 800px;
    font-size: 18px;
    margin: auto;
    margin-top: 10px;
    background-color: black;
}

#snapshot-compare-table th {
    color: white;
    background-color: #9B59B6;
    height: 28px;
    text-align: center;
}

#snapshot-compare-table td {
    color: white;
    height: 30px;
    text-align: center;
}

#snapshot-compare-table tr:nth-child(even) {
    background-color: #2d2d2d;
}

#snapshot-compare-table tr:nth-child(odd) {
    background-color: #1d1d1d;
}

#snapshot-compare-table td:nth-child(2) {
    padding-left: 10px;
    text-align: left;
}

#snapshot-list-body {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0px);
    /* transition: all 1s; */
    overflow: auto;
}

/* #snapshot-list-body:hover {
    backdrop-filter: blur(10px);
} */

#snapshot-list-button {
    position: absolute;
    right: 0px;
    top: 3px;
    display: flex;
    width: 500px;
    height: 30px;
    justify-content: flex-end;
}

.snapshot-list-config-button {
    width: 80px;
    height: 30px;
    margin-left: 10px;
    border: 2px solid #9B59B6;
    border-radius: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
    transition-duration: 0.4s;
    font-family: "Roboto-Thin";
}

.snapshot-list-config-button:hover {
    background-color: #9B59B6;
}

.show-snapshot-list-button {
    width: 80px;
    height: 30px;
    margin-left: 10px;
    border: 2px solid #9B59B6;
    border-radius: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
    transition-duration: 0.4s;
    font-family: "Roboto-Thin";
}

.show-snapshot-list-button:hover {
    background-color: #9B59B6;
}

@keyframes bar-animation {
    from {
        width: 0px;
    }
    to {
        width: 625px;
    }
}

@keyframes animatebottom {
    from {
        bottom: -50px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        bottom: 0px;
        opacity: 1
    }
    to {
        bottom: -50px;
        opacity: 0
    }
}

@media all and (max-width: 1920px) {
    body {
        background-position: 0px var(--background-image-top);
    }
}

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #154360;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #004060;
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #004060;
}